/* Apply border-box to all elements */
*, *::before, *::after {
  box-sizing: border-box;
}

#main-container {
  position: relative; /* Ensures child elements are positioned relative to this container */
  width: 1920px;
  height: 1080px;
  max-height: 1080px;
  overflow-y: hidden; /* !TODO make sure the outer containers dont scroll. currently this fix isn't working */
}

#backend-ui-container {
  margin-right: 330px; /* Same as sidebar width */
  padding-bottom: 185px; /* Same as bottom bar height */
  height: calc(100% - 185px); /* Adjust height to exclude bottom bar */
  overflow: auto; /* For scrolling, if needed */
}

#save-button-container {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 195px; /* Adjust based on bottom bar height and desired spacing */
  width: calc(100% - 330px); /* Adjust width to exclude sidebar */
}
#main-container, html, body {
  margin: 0;
  padding: 0;
}

#right-sidebar {
  position: absolute;
  right: 0;
  top: 0; /* Adjusted to align with the top of the container */
  width: 330px;
  height: 895px; /* May need adjustment depending on the bottom bar's position */
  z-index: 2; /* Higher z-index ensures it overlays the bottom bar */
  padding-left: 20px;
  overflow-y: auto;
  background-color: aliceblue;

}

#bottom-bar {
  position: absolute;
  bottom: 0;
  width: 1590px;
  height: 185px;
  z-index: 1; /* Lower z-index places it beneath the sidebar */
  display: flex;
  align-items: center;
  padding-left: 20px;
  background-color: yellow;
  font-size:  40px;
}

#topic-list li {
  list-style-type: none;
  cursor: pointer;
  margin: 5px 0;
  font-size: 20px;
}

#right-sidebar ul {
  margin-bottom: 100px;
}

.active {
  color: red;
  font-weight: bold;
}

/* Hide delete buttons by default */
.delete-btn {
  visibility: hidden;
}

/* Show delete button on hover */
.item:hover .delete-btn,
.team-item:hover .delete-btn {
  visibility: visible;
  cursor:pointer;
}
